<script type="text/javascript" src="/html5lightbox/html5lightbox.js"></script>
<% if ! @photos.empty? %>
	<% @photos.each do |photo| %> 
		<% if photo.media == "video" %>
			<%
				if flickr.photos.getSizes(:photo_id => photo.id).size[8].source[0..43] == "http://www.flickr.com/apps/video/stewart.swf"
					photo_size = flickr.photos.getSizes(:photo_id => photo.id).size[8]
				else
					photo_size = flickr.photos.getSizes(:photo_id => photo.id).size[10]
				end
			 %>
			<a href="<%= photo_size.source %>" class="html5lightbox" data-width="<%= photo_size.width %>" data-height="<%= photo_size.height %>" title="<a target='_blank' href='/services/original/<%= photo.id %>'>Download the original</a>"  data-group="mygroup">
				<img src="<%= make_flickr_url(photo, 's') %>"  class="img-rounded"/>
				<img src="/assets/video.png" style="position:absolute; margin-left:-80px;" />
			</a>
			<script type="text/javascript">
					console.log("<%= flickr.photos.getSizes(:photo_id => photo.id).size[10].source %>");
				
			</script>
		<% else %>
			<a href="<%= make_flickr_url(photo, 'c') %>" class="html5lightbox" title="<a target='_blank' href='/services/original/<%= photo.id %>'>Download the original</a>"  data-group="mygroup">
				<img src="<%= make_flickr_url(photo, 's') %>"  class="img-rounded"/>
			</a>
		<% end %>
	<% end %>
<% else %>
NO PHOTOS
<% end %>