<% @title="USA trip 2013-14" %>

<% content_for :stylesheet_includes do %>
	<style type="text/css">
		.container { width:100%; padding:0;}
		#map-canvas { height:550px; width:100%; top:0px; z-index: 1500; }
    #map-details { height:auto; width:100%; margin-top:50px; margin:0; padding:15px 0 0 0; vertical-align: bottom;}
    img { margin:5px; }
    span.plus{background:url("<%= asset_path('plus.png') %>") left top; width:75px; height:75px; display:inline-block; text-indent:-9999px; padding-top:27px;}
    span.plus:hover{background:url("<%= asset_path('plus_h.png') %>") left top;}
    dl{ margin-bottom:2px; }
    dt, dd { text-align: left; }
    dl.name, dl.website, dl.date, dl.rating, dl.transportation, dl.distance { min-width:25%; }
    dl.name { float:left; display:inline-block; padding:0; margin:0; }
    dl.distance { float:left; display:inline-block; padding:0; margin:0; }
    dl.website { float:left; display:inline-block; padding:0; margin:0; }
    dl.date { float:left; display:inline-block; text-align:center;}
    dl.rating { float:left; display:block; text-align:right;}
    dl.transportation { float:left; display:block; text-align:right;}
    dl.description, dl.pics { display:block; float:left; width:100%;}

    @media screen and (max-width: 500px){
      #map-canvas { height:250px; }
      img { margin: 1px; }
      dl.date, dl.website, dl.distance, dl.name, dl.rating, dl.description, dl.transportation { display:block; float:none; }
      dt {float:left;}
      dt,dd {width:50%; float:left;}
      dl.pics dt {float:none;}
      dl.pics dt, dl.pics dd {width:100%;}
      .img-rounded { border-radius: 2px; width:35px;}
      span.plus { width:35px; height:35px; padding-top: 7px; background:url("<%= asset_path('plus_s.png') %>") }
      span.plus:hover { background:url("<%= asset_path('plus_h_s.png') %>") }
    }

	</style>
  <link href="/pace/themes/pace-theme-center-circle.css" rel="stylesheet" />
<% end %>
<% content_for :javascript_includes do %>
  <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=<%= GOOGLE_MAP_API_KEY %>&sensor=true"></script>
  <script type="text/javascript" src="/pace/pace.min.js"></script>
  <script type="text/javascript">
    paceOptions = {
      elements: false,
      ajax: true,
      restartOnRequestAfter: true
    };
  </script>
  <script type="text/javascript" src="html5lightbox/html5lightbox.js"></script>
	<script type="text/javascript">
    var map;
    var place_ids_on_the_map = new Array();
    var markers = new Array();
    var roads = new Array();
    var defaultStrokeOpacity = 0.6;
    var selectedStrokeOpacity = 1;
    var dateFormatString = "d MMMM yyyy";


    function initialize() {

      var zoom;

      if (screen.width < 500) {
        zoom = 3;
      }else{
        zoom = 4;
      }

      var mapOptions = {
        zoom: zoom,
        center: new google.maps.LatLng(37.6,-95.695),
        mapTypeId: google.maps.MapTypeId.HYBRID
      }
      map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);


      //Create the markers
      <% @places_first_level.each do |p| %>
        <% if p.children_places.exists? %>
          var array_of_childs = new Array();
          <% p.children_places.each do |c| %>
            array_of_childs.push(new Array(<%= c.id %>, "<%= c.name %>", <%= c.lat %>, <%= c.lon %>, <%= c.place_type_id %>));
          <% end %>
          createMarker(<%= p.id %>, "<%= p.name %>", <%= p.lat %>, <%= p.lon %>, <%= p.place_type_id %>, array_of_childs);
        <% else %>
          createMarker(<%= p.id %>, "<%= p.name %>", <%= p.lat %>, <%= p.lon %>, <%= p.place_type_id %>);
        <% end %>
      <% end %>


      //Create the roads
      <% @ways.each do |w| %>
        createRoad(<%= w.id %>, JSON.parse('<%= raw w.coordinates %>'), '<%= w.name %>')
      <% end %>
      
    }

    function getSetsImagesFromFlickrAPI(place_id, set, content_type){
      var nb_imb_to_load = 15;
      $.ajax({
          url : '/services/album/' + set + '/' + nb_imb_to_load,
          type : 'GET',
          dataType : 'html',
          timeout: 10000000000000,
          success : function(response){
            $("#images").append(response);
            $(".html5lightbox").html5lightbox();
            if($("#images a").length == 15){
              if(content_type == "way"){
                $("#images").append("<a data-no-turbolink='true' href='/photos/way/"+place_id+"'><span class='plus'>Plus</span></a>");
              }else{
                $("#images").append("<a data-no-turbolink='true' href='/photos/place/"+place_id+"'><span class='plus'>Plus</span></a>");
              }
            }
          },error: function(){
            alert("Problem during loading. Try again!");
         }
        });
    
    }

    function setDetailsContent(json, content_type){
      //clear div
      $("#map-details").empty();

      var data;

      if(content_type == "way"){
        data = json;
        $("#map-details").removeClass("place");
        $("#map-details").addClass("way");
      }else{
        data = json["place"];
        var childrens = json["childrens"];
        $("#map-details").removeClass("way");
        $("#map-details").addClass("place");
      }

      var html = "<dl class='name'>";

      if(content_type == "way"){
        html += "<dt>Way : </dt>";
      }else{
        html += "<dt>Place : </dt>";
      }
      html += "<dd>"+data.name+"</dd></dl>";


      if(content_type == "way"){
        //distance
        html += "<dl class='distance'><dt>Distance : </dt><dd>"+data.distance+" km</dd></dl>";
      }else{
        //website
        var website_url = data.website;
        if(website_url.length > 20){
          website_url = data.website.substring(0,20) + "...";
        }

        if(website_url.length > 0){
          html += "<dl class='website'><dt>Website : </dt><dd><a href='"+data.website+"' target='_blank'>"+website_url+"</a></dd></dl>";
        }
      }
      
      

      //dates
      var startDate = new Date(data.start_date);
      var endDate = new Date(data.end_date);
      html += "<dl class='date'><dt>Date(s) : </dt>";
      if(data.start_date == data.end_date){
        html += "<dd>"+startDate.toString(dateFormatString)+"</dd>";
      }else{
        html += "<dd>"+startDate.toString(dateFormatString)+" - "+endDate.toString(dateFormatString)+"</dd>";
      }
      html += "</dl>";

      //rating
      if(content_type != "way"){
        html += "<dl class='rating'>";
        html += "<dt>Rating : </dt><dd>";
        var $raty = $('div#raty');
        $raty.show();
        $raty.raty({ readOnly: true, score: data.rating, path: '/raty_img' });
        html += $raty.html();
        $("#map-details").next('div#raty').hide();
        html += "</dd>";
        html += "</dl>";
      }else{
        $('div#raty').hide();
      }

      //Transportation
      if(content_type == "way"){
        html += "<dl class='transportation'>";
        html += "<dt>Transportation : </dt><dd>";
        html += data.transportation.name
        html += "</dd>";
        html += "</dl>";
      }


      //comments
      html += "<dl class='description'><dt>Comments : </dt>";
      if(data.comments!=""){
        html += "<dd>"+data.comments+"</dd>";
      }else{
        html += "<dd>-</dd>";
      }
      html += "</dl>";

      
      html += "<dl class='pics'><dt>Images : </dt><dd><div id='images'></div></dd></dl>";


      getSetsImagesFromFlickrAPI(data.id, data.album_flickr_nb, content_type);

      //append html
      $("#map-details").append(html);

    }

    function disableAllMarkersAndRoadAnimation(){
      //disable all pin's animations
      for (var i = 0; i < markers.length; i++) {
        if (markers[i].getAnimation() != null) {
          markers[i].setAnimation(null);
        }
      }

      //disable all road's animations
      for (var i = 0; i < roads.length; i++) {
        roads[i].setOptions({strokeOpacity: defaultStrokeOpacity});
      }
    }


    function createRoad(id, coordinates, name){
      var roadPoints = [];
      for(i=0;i<coordinates.points.length;i++){
        roadPoints[i] = new google.maps.LatLng(coordinates.points[i].lat, coordinates.points[i].lon);
      }

      //arrow
      var lineSymbol = {
        path: google.maps.SymbolPath.FORWARD_CLOSED_ARROW
      };


      var road = new google.maps.Polyline({
        path: roadPoints,
        geodesic: true,
        strokeColor: 'red',
        strokeOpacity: defaultStrokeOpacity,
        strokeWeight: 5,
        map:map
      });
      
      var middleOfTheRoadLatLng = new google.maps.LatLng(coordinates.points[Math.round(coordinates.points.length/2)].lat, coordinates.points[Math.round(coordinates.points.length/2)].lon);

      var infoWindowRoad = new google.maps.InfoWindow({ 
            position : middleOfTheRoadLatLng,
            content: name,
            size : new google.maps.Size(50,50),
            disableAutoPan : true
          });


        google.maps.event.addListener(road, "mouseover", function(){
            infoWindowRoad.open(map);
        });

        google.maps.event.addListener(road, "mouseout", function(){
            infoWindowRoad.close(map);
        });


      google.maps.event.addListener(road, "click", function() {

        //disable markers and road's animations
        disableAllMarkersAndRoadAnimation();

        //annimate the road
        road.setOptions({strokeOpacity: selectedStrokeOpacity});


        $.getJSON('/services/way/' + id, function(json) { 
          setDetailsContent(json, "way");
        });
      });

      roads.push(road);
    }


    function createMarker(id, name, lat, lon, img_name, children_places){
      if(place_ids_on_the_map.indexOf(id) == -1){
        var myLatLng = new google.maps.LatLng(lat, lon);
        var image = "maps_icons/"+img_name+".png";
        var marker= new google.maps.Marker({
            position: myLatLng, 
            map: map,
            icon: image
        });

        var infoWindowMarker = new google.maps.InfoWindow({ 
            content : name,
            size : new google.maps.Size(50,50),
            disableAutoPan : true
          });

        google.maps.event.addListener(marker, "mouseover", function(){
            infoWindowMarker.open(map,marker);
        });

        google.maps.event.addListener(marker, "mouseout", function(){
            infoWindowMarker.close(map,marker);
        });

        google.maps.event.addListener(marker, "click", function() {
              //disable markers and road's animations
              disableAllMarkersAndRoadAnimation();

              //annimate the pin
              marker.setAnimation(google.maps.Animation.BOUNCE);
              

              //show children places
              if(children_places!=null){
                for(i=0;i<children_places.length; i++){
                  createMarker(children_places[i][0], children_places[i][1], children_places[i][2], children_places[i][3], children_places[i][4]);
                }
              }

              //center map
              map.setCenter(marker.getPosition());

              if(map.getZoom() < 12){
                map.setZoom(12);
              }


              $.getJSON('/services/place/' + id, function(json) { 
                setDetailsContent(json, "place");
              });
              
        });
        markers.push(marker);
        place_ids_on_the_map.push(id);
      }
      
    }

    google.maps.event.addDomListener(window, 'load', initialize);
    
	</script>
<% end %>


<div id="map-canvas"></div>
<div id="map-details"></div>
<div id='raty'></div>